.c-body .c-main {
    background-color: #b0bdb9;
    font-size: 12px;
}

/* IMG-THUMB HISTORY PESERTA*/
.img-thumbnail {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

/* COLOR OF TD TABLE  */
.merah {
    background-color: crimson;
    color: whitesmoke;
}

#tgl-reg {
    z-index: 9999 !important
}

/* ICON */
.icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    /* transition: all .3s linear; */
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 50px;
    color: rgba(0,0,0,0.15);
}

.text-box-footer {
    padding: 0;
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
}

.text-box-footer p{
    margin-bottom: 0;
    text-align: center;
}

.text-box {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    margin-top: 10px;
    padding: 10px;
    margin-right: 100px;
    top: 5px;
    left: 10px;
    text-align: center;
}

.text-box h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

/* ICON ENDING */

/* AUTOCOMPLETED */
    .ui-autocomplete-input {
        border: none; 
        font-size: 14px;
        height: 24px;
        margin-bottom: 5px;
        padding-top: 2px;
        border: 1px solid #DDD !important;
        padding-top: 0px !important;
        z-index: 100;
        position: relative;
    }

    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1500 !important;
        float: left;
        display: none;
        min-width: 160px;
        width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    /* Scrol autocomplete */
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }

.card-body {
    padding: 0.25rem;
}

label {
    margin-bottom: 0.2rem;
}

#profil-card .card .card-body .form-group {
    margin-bottom: 0.3rem;
}

.invalid-feedback {
    display:block;
}

.sembunyi {
    display: none;
}

.bg-dark-green {
    background-color: #02731a;
}

.bg-hijau {
    background-color: forestgreen;
}

.bg-orange {
    background-color: orange;
}

.bg-pink {
    background-color: orchid;
}

.bg-abu {
    background-color: #555555;
}

.btn-success {
    background-color: #25b5e0;
    border-color: #25b5e0;
}

.c-app.c-legacy-theme {
    --primary: #20a8d8;
    --secondary: #c8ced3;
    --success: #4dbd74;
    --info: #63c2de;
    --warning: #ffc107;
    --danger: #f86c6b;
    --light: #f0f3f5;
    --dark: #2f353a;
    color: #23282c;
    background-color: #e4e5e6;
    --color: #23282c;
}

.c-legacy-theme .c-sidebar {
    color: #fff;
    background: #2f353a;
}

.c-sidebar-dark {
    color: #101011
}

/* MODAL SEP */
#modal-sep, #modal-rujukan{
    overflow-y: auto;
}

.ui-front {
    z-index: 9999;
}

#profil-card .card-body, #biodata-card .card-body {
    padding: 0.50rem;
}

#modal-sep .form-group {
    margin-bottom: 00.5rem;
}

#modal-sep .card-body .form-group, .form-group label {
    margin-bottom: 0.2rem;
}

.btn-cus {
    padding: 0.0212rem 0.0812rem !important;
}

.btn-cus:hover {
    color: aqua;
    background-color: aqua;
}

.modal-header {
        padding: 0.3rem 0.3rem !important;
}

.modal-title {
    margin-left: 20px;
}

#modal-skdp .modal-md {
    max-width: 1024px;
}

#modal-sep .modal-xl {
    max-width: 1248px;
}
/* PENUTUP MODAL SEP */

/* SELECT2JS ADD 100% */
/* .select2, .select2-container  {
    width: 100%;
    max-width: 100%;
} */